[environment]
redshift_server = company-dev.cbesye8hni35.us-east-1.redshift.amazonaws.com
redshift_dbname = dev
redshift_port = 5439
redshift_user = #nome_do_usuario
redshift_password = #password_do_usuario
redshift_role = #postgresql://username:password@yoururl.com:5439/yourdatabase
aws_access_key_id = KJDE*MJIO(*IJHJSB)
aws_secret_access_key = NH&YBHN&UHWDSB*INUHJBHSYSGDHB
cloud_bin = 1