<!DOCTYPE html>
  <html>
    <head>
      <title>Predictions</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ url_for('static',     filename='css/dash.css') }}">
      <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/brain.png') }}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.css">
      <link rel="stylesheet" href="../static/css/page1.css">
      <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
      </style>
    </head>

    <body class="w3-white">


<!---------------- NAVBAR ------------------->
      <nav class="navbar navbar-light navbar-geral">
        <div class="container-fluid navbar-linha-superior">
          <a class="navbar-brand text-white" style="font-size: 28px;" href="#">
            <img src="../static/images/brain.png" width="40" height="40" class="d-inline-block " style="margin-right: 10px;" alt="">
            Prediction System: Fashion MNIST
          </a>
          <a class="navbar-brand text-white offset-md-2" style="margin-right: 0px;" href="#">
            <img src="../static/images/exit.svg" width="25" height="25" class="d-inline-block " style="margin-right: 0px;" alt="">
          </a>  
        </div>
        <div class="container-fluid" style="padding: 0px 7%;" >
            <div class="" style="background-color: #bfc1c4;">
              <a class="nav-link d-inline-block" style="font-weight: bold; color:#001741; padding: 15px 75px; background-color: #bfc1c4; border-bottom: 6px #001741 solid ;" href="{{ url_for('page1') }}">
                  Menu1
              </a>

              <a class="text-white nav-link d-inline-block" style="padding: 15px 75px; background-color: #bfc1c4;"  href="{{ url_for('page1') }}">
                  Menu2
              </a>
              
              <a class="text-white nav-link d-inline-block" style="padding: 15px 75px; background-color: #bfc1c4;"  href="{{ url_for('page1') }}">
                  Menu3
              </a>
              
              <a class="text-white nav-link d-inline-block" style="padding: 15px 75px; background-color: #bfc1c4;" href="{{ url_for('page1') }}">Menu4</a>

              <a class="text-white nav-link d-inline-block" style="padding: 15px 75px; background-color: #bfc1c4;" href="{{ url_for('page1') }}">Metrics</a>

              <a class="text-white nav-link d-inline-block" style="padding: 15px 70px; background-color: #bfc1c4;" href="{{ url_for('page1') }}">Help</a>
            </div>
        </div>
      </nav>
<!-------------------------------------------------------->

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="container-fluid" style="padding: 20px 7%;">

  <!-- Header -->
  <div class="container-fluid mr-0" style="padding: 0px 0px;">
    <header class=" navbar-brand d-inline-block" style="padding:22px 0 ">
      <h2><b>Prediction</b></h2>
    </header>
    <div class="navbar-brand d-inline-block float-md-right mr-0" style="padding:22px 0px ">
      <div class="well d-inline-block">
        <button type="button" id="Export" class="btn d-inline-block" style="font-weight: bold; color:#215178; background-color: white; width: 150px; height:39px; border: 2px #7bafe4 solid;">
          Export
        </button>
      </div>
      <div id="formExport" class="d-none" style="padding-bottom: 10px;">
        <form action="/echo/html/" id="popForm" method="get">
            <div>
              <div class="" >
                <label for="date1" style="display:block;">Enviar para o e-mail(arquivo csv): </label>
                <input id="date1" placeholder="Digite o e-mail" value="" name="date1" type="text" style="display:block; width: 100%;">
              </div>
              <button type="button" id="email" class="btn btn-primary" style="margin-top: 20px;" data-loading-text="Sending info.."><em class="icon-ok"></em> Enviar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
<!-- ------------------------------------------------------ -->


    <div class="container-fluid d-flex" style="padding: 0px;">
      <div class="container-fluid d-flex" style="padding: 0px; border: solid gray 1px;">

        <div class="container-fluid d-inline-block" style="margin: 6px; background-color: #f4f4f4; padding: 10px 15px;">
          Choose1:
          <select class="form-control" id ='os_number' style="margin-top: 7px;" width="15" height="15">
            <option value='1'>Val 1</option>
            <option value='7'>Val 7</option>
          </select>
        </div>

        <div class="container-fluid d-inline-block" style="margin: 6px; background-color: #f4f4f4; padding: 10px 15px;">
          Ordering:
          <select class="form-control" id ='choose_feature' style="margin-top: 7px;">
            <option value='seq'>Order 1</option>
            <option value='cri'>Order 2</option>
          </select>
        </div>

         <div class="container-fluid d-inline-block" style="margin: 6px 6px 6px 6px; background-color: #f4f4f4; padding: 10px 15px 10px 10px;">
          Model variables:
          <select class="form-control" id ='model_variable' style="margin-top: 7px;">
            <option value='v1'>Variable 1</option>
            <option value='v2'>Variable 2</option>
            <option value='v3'>Variable 3</option>
            <option value='v4'>Variable 4</option>
            <option value='v5'>Variable 5</option>
          </select>
        </div>
      </div>

    </div>



    <br>
    <br>

    <strong style="color: blue;">Predictions about fashion mnist</strong> 
    <div class="container-fluid" style="border-top: black 1px solid;">
    <ul class="w3-ul w3-card-4 w3-white">


      <div class="chart" id="caminhos_variables">
        <!--
        <script>
             var graphs = {{caminhos_fun_2 | safe}};
             Plotly.plot('caminhos_graph_2',graphs,{});
         </script>
        -->
     </div>
        </ul>
    </div>

    <strong style="color: blue;">Predictions about fashion mnist</strong>
    <center>
      <p style="color:green;font-size:50px;">83,45% accuracy</p>
      <img src="../static/images/model_out.png" alt="Trulli" width="800" height="333">
    </center>
    
    Other plots:
    <div class="container-fluid" style="border-top: black 1px solid;">
    <ul class="w3-ul w3-card-4 w3-white">


      <div class="chart" id="caminhos_map">
        <!--
        <script>
             var graphs = {{caminhos_fun_2 | safe}};
             Plotly.plot('caminhos_graph_2',graphs,{});
         </script>
        -->
     </div>
    </ul>
    </div>
  

  <!-- <input type = "button" class="nm-button" id ='simular_prob' value="Simular Probabilidade!"> -->
  <!-- <input type = "text" class="nm-text" id ='proba' size="10" value="Calcule!" style="text-align:center;">
  <img id= "imagem_alerta" src="static/images/load.gif" class="w3-margin-center" style="width:30px"> -->

</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/page1.js') }}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>