.navbar-geral {
    padding: 0%;
    background-color: #dee3e9;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navbar-linha-superior {
    background-color:  #93a0ae; 
    padding: 10px 7%;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

#table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


    
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}